

body {
	background-color: #f1f1f1;
	max-width:1200px;
	float:left;
}


/***************
* Basic layout *
****************/

nav .nav, .content {
	background-color: #ffffff;
}
nav {
	margin-bottom: 10px;
}

/******************
* Main navigation *
*******************/

.nav.nav-pills li a {
	border-radius:0 !important;
	color: #6c6c6c;
	padding: 10px 20px;
}
.nav.nav-pills li + li {
	margin-left:0;
}
.nav.nav-pills li a:hover {
	background-color: #f1f1f1;
}
.nav.nav-pills li.active a {
	background-color: #fff59b;
}
nav .nav.nav-pills li.active a:hover {
	color: inherit;
}

@media screen and (max-width: 768px) {
	nav .nav.nav-pills li a {
		padding:10px 20px;
	}
	.nav-pills {
		padding:0;
	}
	.nav.nav-pills li {
		clear: both;
		width: 100%;
	}
	.nav.nav-pills li a {
		text-align: center;
	}
	
	.nav.nav-pills li.active a {
		font-weight: bold;
	}

	.nav.nav-close li {
		display: none;
	}
	.nav.nav-close li.active {
		display: block;
	}
	.nav.nav-close li.active a {
		text-align: left;	
	}
	.nav.nav-close:after {
		content:'\e012';
		font-family: 'Glyphicons Halflings';
		color:white;
		position: absolute;
		right:0;
		width:40px;
		height:40px;
		font-size:18px;
		background-color: rgba(0,0,0,.2);
		text-align: center;
		line-height: 40px;
	}
}
@media screen and (min-width: 768px) {
	nav .nav.nav-pills li a {
		padding-top:15px;
		padding-bottom: 15px;
	}
}

/**********
* Sidebar *
***********/

.sidebar {
	padding-top:10px;
}
.sidebar h3 {
	font-size:16px;
	margin-bottom:20px;
}
.sidebar, .sidebar li a {
	padding-left: 30px !important;
}
.sidebar li a{
	margin-left:-30px;
}

.sidebar li + li {
	margin-top:0;
}
.sidebar li.active a:hover {
	color: inherit;
}
.sidebar li a:hover {
	background-color: rgba(0,0,0,.02);	
}

/**********
* Content *
***********/

.content {
	padding:0 20px;
}

/*********
* Footer *
**********/

.footer {
	margin-top:20px;
	margin-bottom:20px;
}
.footer:after {
	content: '';
	display: table;
	clear: both;
}
.footer-copyright {
	font-style: italic;
}
.footer-refs > div {
	float:left;
}
.footer-refs > div + div {
	margin-left:10px;
}

@media screen and (max-width: 768px) {
	.footer div {
		clear: both;
		margin-left:0 !important;
	}
	.footer-refs {
		margin-top:10px;
	}
}	

/************
* Blog post *
*************/

.blogPost {}
.blogPost-title {
	font-size:22px;
	font-weight:bold;
}
.blogPost-img, .blogPost-content {
	margin-top:10px;
}

.blogPost-img {
	margin:20px -20px;
}
.blogPost-content {
	font-size:14px;
	line-height: 20px;
}
.blogPost-info {
	margin-top:20px;
	font-size:14px;
}
.blogPost-info:after {
	content: '';
	display: table;
	clear: both
}
.blogPost-info > div + div {
	margin-left:10px;
}
.blogPost-info > div {
	float:left;
}
.blogPost-info-date:before, .blogPost-info-tags:before {
	content: '';
	display: inline-block;
}
.blogPost-info-date {
	color:#6c6c6c;
}
.blogPost-info-date:before {
	width:15px;
	height:15px;
	background: url(../img/time.png) no-repeat;
}
.blogPost-info-tags {}
.blogPost-info-tags:before {
	width:13px;
	height:15px;
	background: url(../img/tags.png) no-repeat;
}
.blogPost-readMore {
	margin-top:20px;
	background-color: #4891B6;
	font-weight: bold;
	font-size:14px;
	border:0;
	padding:10px 30px;
	border-radius: 4px;
}

@media screen and (max-width: 768px) {
	.blogPost-info > div + div {
		margin:0;
	}
	.blogPost-info > div {
		clear: both;
	}
}
/*********
* Header *
**********/

.header {
	padding:20px 0;
}
.header-title {
	display: none;
}
.header-img {

}

/*************
* Pagination *
**************/

.pagination {
	margin-top:20px;
}
.pagination li {
}
.pagination li a {
	border-radius:0 !important;
	background-color: #fff59b;
	color: #6c6c6c;
	margin:0;
	padding-top:10px;
	padding-bottom:10px;
	text-align: center;
	border:0;
}
.pagination li.active a {
	background-color: #CBC37B;
}

@media screen and (max-width: 768px) {
	.pagination-wrap {
		margin:0 -21px;
	}
	.pagination {
		width:100%;
		display: -webkit-flex;
		display: flex;
	}
	.pagination:after {
		content: '';
		display: table;
		clear: both;
		zoom:1;
	}
	.content {
		padding-bottom: 1px; /*clearfix layout*/
	}
	.pagination li  {
		-webkit-flex: 1;
				flex: 1;

		margin:0 -1px;
	}
	.pagination li:first-child, .pagination li:last-child {
		-webkit-flex: 1;
				flex: 1;	
		font-weight:bold;
	}
	.pagination li a {
		width:100%;
		text-align: center;
	}
}
/**************
* UX category *
***************/

.content.content-ux {
	padding-top: 66px;
	position: relative;

}
.content-ux:before {
	display: block;
	content:'';
	height:66px;
	width:100%;
	position: absolute;
	top:0;
	left:0;
	right:0;
	background: #f1f1f1 url(../img/ux-header.png) center right no-repeat;
}

@media screen and (max-width: 768px) {
	.content.content-ux {
		padding-top:1px;
	}
	.content.content-ux:before {
		display: none;
	}
}
